{% extends "base.html" %}

{% block titulo %} especialistas {% endblock %}


{% block contenido %} 
<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">solicitar cita médicos Especialistas</h4>
        <div class="card-body">
            <h4 class="card-title">Citas Agendadas con Especialista</h4>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Identificacion</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Médico Especialista</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        {% for cita in citas %}
                    
                        <tr class="">
                            <td scope="row">{{cita.id}}</td>
                            <td>{{cita.nombre}}</td>
                            <td>{{cita.apellido}}</td>
                            <td>{{cita.identificacion}}</td>
                            <td>{{cita.hora}}</td>
                            <td>{{cita.fecha}}</td>
                            <td>{{cita.medico}}</td>
                            <td><a name="" id="" class="btn btn-info" href="{% url 'modificar' cita.id %}" role="button">Modificar</a> 
                                
                                <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' cita.id %}#" role="button">Eliminar</a>
                            </td>
                        </tr>
                        
    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
