{% extends "base.html" %}

{% block titulo %} inicio {% endblock %}

<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h1>Bienvenidos Clinica Regional de Occidente</h1>
            <p>la salud lo primordial en su vida</p>
            <button class="btn btn-succes btn-lg" href="" type="button">Registrarse</button>

        </div>
    </div>
    
</div>

{% block contenido %} 

inicio.html

{% endblock %}
